<!DOCTYPE html>
<html>
<head>
    <% include templates/header.ejs %>
    <script src="../ckeditor/ckeditor.js"></script>
    <title>Accueil</title>
</head>
<body>
<header>
    <% include templates/navBar.ejs %>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <form action="/edition/updateProfil" method="post">
                <div class="well" align="center">
                    <input type="text" name="NomPrenom" class="form-control" placeholder="Votre nom" <% if (doc.nom ) { %> value="<%= doc.nom %>" <%}%>/>
                </div>
                <div class="well">
                    <h4><label>Présentation :</label></h4>
                    <textarea rows="6" name="presentation" class="form-control"  ><%= doc.pres %></textarea><br>
                </div>
                <div class="well">
                    <h4><label>Grade :</label></h4>
                    <select class="form-control" name="grade">
                        <option <% if (doc.grade === 'Professeur'){%>  selected <%}%> >Professeur</option>
                        <option <% if (doc.grade === 'Maitre de conférence A'){%>  selected <%}%> >Maitre de conférence A</option>
                        <option <% if (doc.grade === 'Maitre de conférence B'){%>  selected <%}%> >Maitre de conférence B</option>
                        <option <% if (doc.grade === 'Maitre assistant A'){%>  selected <%}%> >Maitre assistant A</option>
                        <option <% if (doc.grade === 'Maitre assistant B'){%>  selected <%}%> >Maitre assistant B</option>
                        <option <% if (doc.grade === 'Doctorant'){%>  selected <%}%> >Doctorant</option>
                    </select>
                    <h4><label>E-mail :</label></h4>
                    <input type="email" name="email" class="form-control"  value="<%= doc.email %>" ><br>
                    <h4><label>Bureau : </label></h4>
                    <input type="text" name="bureau" class="form-control"  value="<%= doc.bureau %>" >
                    <br>
                    <button type="submit" class="btn btn-default"> Enregistrer </button>
                </div>
            </form>
        </div>


        <div class="col-lg-9">
            <div>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#Gestion">Gestion</a></li>
                    <%  doc.rubriques.forEach(function (rub){ %>
                    <li><a data-toggle="tab" href="#<%= rub._id %>"><%= rub.titre %></a></li>
                    <% }) %>
                    <li><a data-toggle="tab" href="#AjoutArticle">ajouter un articles</a></li>
                </ul>
            </div> <% //Div navigation tabbed panel %>


            <div class="tab-content">
                <% doc.rubriques.forEach(function (rub){ %>
                <div id="<%= rub._id %>" class="tab-pane">
                    <br><br>
                    <div class="container-fluid">

                        <div class="row">
                            <% rub.articles.reverse().forEach(function(art){ %>
                            <div class="col-sm-12">
                                <a href="/edition/deleteArticle?IDRubrique=<%=rub._id%>&IDArticle=<%=art._id%>" onclick="return confirm('êtes vous sur de vouloir supprimer cet Article ?');"><span class="glyphicon glyphicon-trash"></span> Supprimer</a>



                                <a href="#" data-toggle="modal" data-target="#update-modal<%=art._id%>" ><span class="glyphicon glyphicon-pencil"></span> Editer </a></li>
                                <div class="modal fade" id="update-modal<%=art._id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                        <br><br>
                                        <div  align="center">
                                            <div class="login-clean">
                                                <form action="/edition/updateArticle" method="post">
                                                    <div class="well">
                                                        <h2>Modifier l'article</h2>
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <label for="titreA">Titre:</label>
                                                                    <input type="text" class="form-control" name="titreA" value="<%= art.titre%>">
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <label for="Contenu<%= art._id%>">Contenu:</label>
                                                            <textarea cols="10" id="Contenu<%= art._id%>" name="Contenu" rows="10" ><%- art.contenu %></textarea>
                                                            <script>
                                                                //Ajout d'uploadcare à ckediteur
                                                                UPLOADCARE_PUBLIC_KEY = 'demopublickey';
                                                                CKEDITOR.replace( 'Contenu<%= art._id%>' , {
                                                                    extraPlugins: 'uploadcare',
                                                                    uploadcare: {
                                                                        multiple: true
                                                                    }
                                                                });

                                                            </script>
                                                            <input type="hidden" value="<%= art._id %>" name="idArticle">
                                                            <input type="hidden" value="<%= rub._id %>" name="idRubrique">
                                                            <div align="center">
                                                                <br>
                                                                <button type="submit" class="btn btn-default" >Modifier l'article</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="well" align="left">
                                    <h2><%= art.titre %></h2>
                                    <div><%- art.contenu %></div>
                                </div>
                            </div>
                            <%})%>
                        </div>
                    </div>

                </div>
                <% }) %>


                <div id="Gestion" class="tab-pane active">
                    <br><br><br>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="well">
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Nom de la rubrique</th>
                                            <th>Nombre d'articles</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>

                                        </tr>
                                        <% doc.rubriques.forEach(function (rub) {%>
                                        <tr>
                                            <td><%= rub.titre %></td>
                                            <td><%= rub.articles.length %></td>
                                            <td>
                                                <a href="edition/DeleteRubrique?IDRubrique=<%=rub._id%>"><span class="glyphicon glyphicon-trash"></span> Supprimer</a>

                                                <a href="#" data-toggle="modal" data-target="#update-modal<%=rub._id%>" ><span class="glyphicon glyphicon-pencil"></span>Renommer</a></li>
                                                <div class="modal fade" id="update-modal<%=rub._id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                    <div class="modal-dialog">
                                                        <br><br><br><br><br><br>
                                                        <div class="col-sm-9 well" align="center">
                                                            <div class="login-clean">
                                                                <form class="form-horizontal" action="/edition/updateRubrique" method="post">
                                                                    <div class="illustration"></div>
                                                                    <div class="form-group">
                                                                        <label class="control-label col-sm-5" for="User">Titre de la rubrique :</label>
                                                                        <div class="col-sm-7">
                                                                            <input type="text" class="form-control" id="User" placeholder="Nouveau titre" name="NewTitre" value="<%=doc.titre%>">
                                                                            <input type="hidden" value="<%=doc._id%>" name="idRubrique">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="col-sm-offset-2 col-sm-10">
                                                                            <button type="submit" class="btn btn-default">Modifier</button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <a href="#" data-toggle="modal" data-target="#add-modal<%=rub._id%>" ><span class="glyphicon glyphicon-plus"></span> Ajouter un Article</a></li>
                                                <div class="modal fade" id="add-modal<%=rub._id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                    <div class="modal-dialog">
                                                        <br><br><br>
                                                        <div align="center">
                                                            <div class="login-clean">
                                                                <form action="/edition/AddArticle" method="post">
                                                                    <div class="well">
                                                                        <div class="form-group">
                                                                            <div class="row">
                                                                                <input type="hidden" name="nomRubrique" value="<%= rub.titre %>" >
                                                                                <div>
                                                                                    <label>Titre:</label>
                                                                                    <input type="text" class="form-control" name="titreA">
                                                                                </div>
                                                                            </div>
                                                                            <br>
                                                                            <label for="summernote">Contenu:</label>
                                                                            <textarea cols="10" id="Contenu<%= rub._id %>" name="contenu" rows="10" >Mon editeur de texte</textarea>

                                                                            <script>
                                                                                //Ajout d'uploadcare à ckediteur
                                                                                UPLOADCARE_PUBLIC_KEY = 'demopublickey';
                                                                                CKEDITOR.replace( 'Contenu<%= rub._id %>' , {
                                                                                    extraPlugins: 'uploadcare',
                                                                                    uploadcare: {
                                                                                        multiple: true
                                                                                    }
                                                                                });

                                                                            </script>


                                                                            <div align="center">
                                                                                <br>
                                                                                <button type="submit" class="btn btn-default" >Ajouter l'article</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <% }) %>

                                        </tbody>
                                    </table>

                                </div>

                                <form action="/edition/AddRubrique" method="post">
                                    <div class="well">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>Ajouter une rubrique:</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" name="titreRubrique" placeholder="Nom de la nouvelle rubrique">
                                                </div>
                                                <div class="col-sm-6">
                                                    <button type="submit" class="btn btn-default" >Ajouter la rubrique</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<footer>
    <% include templates/footer.ejs %>
</footer>
</body>
</html>

