<!DOCTYPE html>
<html ng-app="myApp" >
<head>
    <% include templates/header.ejs %>
    <title>Accueil</title>
</head>
<body>
<header>
    <% include templates/navBar.ejs %>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="well" align="center">
                <img src="images/lssd.JPG" class="img-circle" height="100" width="100" alt="lssd">
                <h4><%= doc.nom %></h4>
            </div>
            <div class="well">
                <h4><label>Présentation :</label></h4>
                <h4><%= doc.pres %></h4>
            </div>
            <div class="well">
                <h4><label>Grade : </label> <%= doc.grade %></h4>
                <h4><label>E-mail : </label> <%= doc.email %></h4>
                <h4><label>Bureau : </label> <%= doc.bureau %></h4>
            </div>

        </div>


        <div class="col-lg-9">
        <div>
            <ul class="nav nav-tabs">
                <%  doc.rubriques.forEach(function (rub){ %>
                <li <% if(rub.titre === doc.rubriques[0].titre ){%>class="active" <%} %> ><a data-toggle="tab" href="#<%= rub._id %>"><%= rub.titre %></a></li>
                <% }) %>
            </ul>
        </div> <% //Div navigation tabbed panel %>


        <div class="tab-content">

            <% doc.rubriques.forEach(function (rub){ %>

            <div id="<%= rub._id %>" class="tab-pane <% if(rub._id === doc.rubriques[0]._id ){%>active<%} %>">
                <br><br>
                <div class="container-fluid">

                        <div class="row">
                            <% rub.articles.reverse().forEach(function(art){ %>
                            <div class="col-sm-12">
                                <div class="well" align="left">
                                    <h2><%= art.titre %></h2>
                                    <div><%- art.contenu %></div>
                                    <a href="#">Exemple fichier</a>
                                </div>
                            </div>
                            <%})%>
                        </div>
                </div>

            </div>
            <% }) %>

        </div>
        </div>
    </div>
</div>
<div>
    <% include templates/footer.ejs %>
</div>
</body>
</html>

